include default-js
script(src='/javascripts/bootstrap-table.min.js')
script(src='/javascripts/tableExport.js')
script(src='/javascripts/jquery.base64.js')
script(src="/javascripts/html2canvas.js")
script(src="/javascripts/jspdf/libs/sprintf.js")
script(src="/javascripts/jspdf/jspdf.js")
script(src="/javascripts/jspdf/libs/base64.js")
script(src="/javascripts/bootstrap-table-export.js")