doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrapValidator.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-table.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content